:root {
  --is-black: #000000;
  --is-orange: #F04531;
  --is-fushia: #AC2150;
  --is-white: #FCF7F0;

  --space-large: 6em;
  --space-width: 6em;
  --space-height: 1.5em;
  --space-base: 1em;
  --space-small: 0.5em;

  --font-big: 4.5vw;
  --font-lg: 3.5em;
  --font-md: 1.75em;
  --font-rg: 1em;

  --mask: polygon(0 0, 100% 0%, 100% 55%, 0% 100%);
}

@font-face {
  font-family: 'Body';
  src: url(body.ttf);
}

@font-face {
  font-family: 'Accent';
  src: url(accent.woff);
}

*::selection {
  color: var(--is-white);
  background-color: var(--is-orange);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Body';
  font-size: 20px;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 0.9;
  margin-block: 0;
  text-transform: uppercase;
  font-family: 'Accent';
}

p {
  font-weight: 500;
  line-height: 1;
  margin-block: 0;
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


section {
  &.is-white {
    background: var(--is-white);
  }
  &.is-orange {
    background: var(--is-orange);
  }
  &.is-fushia {
    background: var(--is-fushia);
  }
}

.uppercase {
  text-transform: uppercase;
}